/*
Site-wide CSS
*/

html {
    min-width: 1500px;
}

body {
    background-color: #1F1F1F;
    font-family: 'Hind', sans-serif;
    color: white;
}

header {
    background-color:;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #00C9C0;
}


img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*This is the Navigation Bar of Death & Doom!*/
nav ul{
    list-style-type: none;
    margin-top: 3px;
    padding 0;
    overflow: hidden;
    border-bottom: 1px solid #404040;
    border-top: 1px solid #404040;
    text-align: center;
}

nav li {
    display: inline;
    padding: 25px;
  }

nav li a {
    display: inline-block;
    padding: 8px;
    color: white;
}

nav li a:hover {
    color: white;
}

li a:hover:not(.active) {
    background-color: #404040;
    color: #00bcb4;
    border-left: white;
}

.active {
    background-color: #00bcb4;
}

nav li a.shopbutton:hover {

}

/*
Index CSS
*/

.bannerimage {
    float: left;
    margin-left: 400px;
}

.bannertext {
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 150px;
    margin-top: 200px;
    text-align: center;
    position: relative;
}

.primarycta{
    border: 3px solid;
    text-align: center;
    border-top-color: #4ECDC8;
    border-right-color: #28938F;
    border-bottom-color: #00908B;
    border-left-color: #27C2BC;
    border-radius:17px;
    background-color: #00bcb4;
    width: 15%;
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
    margin-top: 200px;
    margin-left: 200px;
    display: block;
    position: relative;
    color: white;
}

.indexcontent {
    margin-top: 550px;
}

.indeximagebanner {
    background-color: #0BD392;
}

/*
Shop CSS
*/



/*
What is Cosplay CSS
*/



/*
About Us CSS
*/

.steve {
    float: left;
    position: relative;
}

.sally {
    float: left;
    position: relative;
    margin-right: 20px;
}

/*
Party Sign-Up CSS
*/

.partytext {
    float: left;
}

.pricelabel {
    display: inline-block;
    width: 60px;
}

.specificnumber {
    margin-left: 25px;
    margin-top: 5px;
}

.signupform {
    float: right;
    position: relative;
    border: 3px dotted;
    padding: 5px;
    border-color: #FFDA09;
    border-radius: 18px 50px;
    padding: 5px 10px 25px 20px;
    background-color: #1F1F38;
    margin: 0;
}

.guidelines {
    margin-top: 580px
}

.guidelines h3{
    color: #ff8585;
}

/*
Contact Us CSS
*/

.contactinfo {
    border: 1px solid;
    width: auto;
}

.contactlabel {
    display: inline-block;
    width: 60px;
}


/* the blue code: 0BA6D3 or this is also nice 0BA6F6
the green code: 0BD392
OR this green (MIGHT be too bright tho) 00E018 there is also this tennis ball colour 8BEC0C
