/*
Site-wide CSS
*/

html {
    min-width: 1500px;
}


body {
    background-color: #1F1F1F;
    font-family: 'Hind', sans-serif;
    color: white;

}

.wrapper{
    height: 100%;
}

.container {
    width: 850px;
    margin: auto;
    display: block;
    background-color: #1F1F1F;
  }


header {
    background-color: #1F1F1F;
    margin: 0;
}

.signup {
    position: fixed;
    top: 0;
    margin-left: 1500px
}

.signup ul {
    display:inline;

}

.signup li {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}


h1, h2 {
    color: #FF8406;
}


h3 {
    color: #ff8585;
}


a {
    text-decoration: none;
    color: #00C9C0;
}


h1 {
    text-align: center;
}


img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/*This is the Navigation Bar of Death & Doom!*/

nav ul{
    list-style-type: none;
    margin-top: 3px;
    padding 0;
    overflow: hidden;
    border-bottom: 1px solid #404040;
    border-top: 1px solid #404040;
    text-align: center;
    background-color: #1F1F1F;
}


nav li {
    display: inline;
    padding: 25px;
  }


nav li a {
    display: inline-block;
    padding: 8px;
    color: white;
}


nav li a:hover {
    color: white;
}


li a:hover:not(.active) {
    background-color: #404040;
    color: #00bcb4;
    border-left: white;
}


.active {
    background-color: #00bcb4;
}


nav ul .shopnav a {
    color: #FF8406;
    font-weight: bolder;
}


.cta{
    border: 1px solid #00bcb4;
    background-color: #00bcb4;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}



#footer {
    background-color: #FF8436;
    padding: 3px;
    display: block;
    margin: auto;
    position: relative;
    width:98%;
    bottom: 0px;
    margin-top: 150px;
	clear: both;
	text-align: center;
    border-radius: 15px 15px 0 0;
}

#footer a {
    color: white;
}




/*
Index CSS
*/


.bannerimage {
    float: left;
    margin-left: 400px;
}


.bannertext {
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 150px;
    margin-top: 140px;
    text-align: center;
    position: relative;
    color: #FF8406;
    font-size: 200%;
}


.primarycta{
    border: 3px solid;
    text-align: center;
    border-top-color: #00bcb4;
    border-right-color: #00bcb4;
    border-bottom-color: #00bcb4;
    border-left-color: #00bcb4;
    border-radius:17px;
    background-color: #00bcb4;
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
    float: left;
    margin-top: 170px;
    margin-left: 200px;
    display: block;
    position: relative;
    color: white;
    font-size: 150%
}


.indexcontent {
    margin-top: 500px;
}


.infobannerpics {
    margin-left: 500px;
    margin-right:120px;
    position: relative;
}


.scary {
    margin-top: 20px;
}


.indeximagebanner {
    background-color: #00bcb4;
    margin:auto;
    display: block;
}


.alliteration {
    text-align: center;
    font-size: 200%;
}





/*
Shop CSS
*/

.gallery {
    margin: auto;
}

table {
    margin: auto;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid white;
    text-align: center;
}


th, td {
    padding: 6px;
}


.shopform {
    margin: auto;
    border: 1px solid white;
    border-radius: 15px;
    padding-left:10px;
    padding-bottom: 15px;
    width: 610px;
}

/*
What is Cosplay CSS
*/

.cosplayis{
    text-align: center;
    font-size: 200%;
}



/*
About Us CSS
*/

.aboutpics {
    display: block;
    margin-left: 100px;
}


.steve {
    float: left;
    position: relative;
    border-radius: 50%;
}


.sally {
    float: left;
    position: relative;
    border-radius: 50%;
    margin-left: 100px;
}


/*
Party Sign-Up CSS
*/

.partytext {
    float: left;
}

.pricelabel {
    display: inline-block;
    width: 60px;
}


.specificnumber {
    margin-left: 25px;
    margin-top: 5px;
}


.signupform {
    float: right;
    position: relative;
    border: 5px dotted;
    padding: 5px;
    border-color: #FFDA09;
    border-radius: 18px 50px;
    padding: 5px 10px 25px 20px;
    background-color: #FF8436;
    margin: 0;
}



/*
Contact Us CSS
*/

.contactinfo {
    border: 1px solid;
    width: 350px;
    padding-left: 100px;
    display: block;
    margin: auto;
    margin-top: 30px;
}


.contactlabel {
    display: inline-block;
    width: 60px;
}


/* the blue code: 0BA6D3 or this is also nice 0BA6F6
the green code: 0BD392
OR this green (MIGHT be too bright tho) 00E018 there is also this tennis ball colour 8BEC0C
